<ion-header>
  <ion-toolbar>
    <ion-title>HttpClient</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h4>Generar un servicio</h4>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <pre>
        <code>
          ng generate service $name
          ionic generate service $name
        </code>
      </pre>

      <ion-img [src]="'./assets/example/catfacts.png'"></ion-img>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h4>HTTP - GET</h4>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label> {{ catfact?.fact ?? 'No hay info.' }}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-button (click)="getCatfact()">
          GET
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <pre>
        Respuesta:
        <code>
          {{ catfact | json }}
        </code>
      </pre>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        HTTP - POST
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-button (click)="postCatfact()">
          POST
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <pre>
        Respuesta:
        <code>
          {{ postResponse | json }}
        </code>
      </pre>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
